<body>
  <div class="container">
    <div class="bullet-c">
      <h2>Saturday</h2>
      <p>September 18th, 2021</p>
    </div>
    <div class="bullet-c">
      <h2>Snowline Acres</h2>
      <p>3315 U.S. 93 S</p>
      <p>Kalispell, MT 59901</p>
    </div>
    <div class="bullet-c">
      <h2>Ceremony</h2>
      <p>3:00 pm</p>
    </div>
    <div class="bullet-c">
      <h2>Cocktail Hour</h2>
      <p>3:30 pm</p>
    </div>
    <div class="bullet-c">
      <h2>Reception</h2>
      <p>5:00 pm</p>
    </div>
  </div>
</body>
