<div class="bg-image"></div>
<div class="container-party">
  <!--Women-->
  <div class="container-party-col">
    <!--Bride-->
    <div class="containter-party-head">
      <h1>{{bride.firstName}} {{bride.lastName}}</h1>
      <p>{{bride.title}}</p>
    </div>

    <!--Party-->
    <div>
      <!--Maid of Honor-->
      <div
        class="containter-member"
        *ngFor="let member of bridesmaids | async">

        <app-party-member  
          *ngIf="member?.title === 'Maid of Honor' " 
          [member]="member">
        </app-party-member>
      
      </div>
      <!--Bridesmaids-->
      <div
        class="containter-member"
        *ngFor="let member of bridesmaids | async">
        
        <app-party-member 
          *ngIf="member?.title != 'Maid of Honor' " 
          [member]="member">
        </app-party-member>
      
      </div>
    </div>
  </div>

  <!--Men-->
  <div class="container-party-col">
    <!--Groom-->
    <div class="containter-party-head">
      <h1>{{groom.firstName}} {{groom.lastName}}</h1>
      <p>{{groom.title}}</p>
    </div>

    <!--Party-->
    <div>
      <!--Bestman-->
      <div 
        class="containter-member"
        *ngFor="let member of groomsmen | async">
        
        <app-party-member 
          *ngIf="member?.title === 'Best Man' " 
          [member]="member">
        </app-party-member>
        
      </div>
      <!--Groomsmen-->
      <div 
        class="containter-member"
        *ngFor="let member of groomsmen | async">
        <app-party-member *ngIf="member?.title != 'Best Man' " [member]="member"></app-party-member>
      </div>
    </div>
  </div>
</div>